body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #BBE1FA;
    width: 100vw;
}
svg{
    
    width: 1.4rem;
    filter: invert(100%);
    margin-top: 2.8rem;
}
.container{
    width: 20rem;
    height: 30rem;
   background-color: #3282B8;
   color: white;
   border-radius: 0.8rem;
   box-shadow: 5px 7px 12px  black;
}
form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}
.dropdown{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    border: 0.2px solid rgb(199, 199, 199);
    border-radius: 0.3rem;
    padding: 0 , 0.5rem;
    
}
 form input , #btn {
    width: 95%;
    border: none;
    outline: none;

}
.dropdown img{
    width: 2rem;
}
.dropdown select{
    height: 1rem;
    width: max-content;
    
}
p{
    font-size: 1.3rem;
}
#btn {
    background-color: #0F4C75;
    color: white;
    font-size: 1.2rem;
    border-radius: 0.4rem;
}
.value {
    text-align: center;
    border: none;
    outline: none;
    color: white;
    font-size: 1.2rem;
    border-radius: 0.4rem;
    background-color: #0f4c7500;
    padding: 0.4rem;
    width: 90%;
    border: 0.2px solid rgb(199, 199, 199);
}
select{
    text-align: center;
    border: none;
    outline: none;
    color: white;
    border-radius: 0.2rem;
    background-color: rgba(0, 0, 0, 0);
}
.value::placeholder{
    color: rgb(212, 208, 208);
}
select option{
    color: black;
}
